@model IEnumerable<InteractiveGallery.Core.GalleryAggregate.Gallery>

@{
    ViewData["Title"] = "Index";
	Layout = "~/Areas/AdminArea/Views/Shared/MyLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Galleries</h1>
<br>
<br>
<div class="row">
	@foreach (var item in Model)
	{

		<div class="col-md-6 col-lg-3">
			<div class="card">
				<img class="img-fluid" src="../images/big/img1.jpg" alt="">
				<div class="card-body">
					<h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
					<p class="card-text">Artist @Html.DisplayFor(modelItem => item.InitiatorArtist.Name)</p>
					<p class="card-text">Theme @Html.DisplayFor(modelItem => item.Theme)</p>
					<div>
						<a asp-action="Edit" asp-route-id="@item.Id"><button asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn mb-1 btn-flat btn-outline-primary">Edit</button></a>
						<a asp-action="Delete" asp-route-id="@item.Id"><button asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn mb-1 btn-flat btn-outline-danger">Delete</button></a>
						<a asp-action="Details" asp-route-id="@item.Id"><button asp-action="Details" type="button" asp-route-id="@item.Id" class="btn mb-1 btn-flat btn-outline-warning">Details</button></a>

					</div>
				</div>
			</div>
		</div>

	}
</div>
