@model IEnumerable<InteractiveGallery.Core.GalleryAggregate.Gallery>

@{
	ViewData["Title"] = "Galleries";
	Layout = "~/Views/UserViews/Shared/MyLayout.cshtml";
}

<h1>Galleries</h1>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Theme)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InitiatorArtist)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Theme)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InitiatorArtist.Name)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				</td>
			</tr>
		}
	</tbody>
</table>











<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="../javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
 <!-- row -->


   <div class="container-fluid">
        <h2>Galleries</h2>
        <div class="row">
@foreach(var item in Model){

            <div class="col-md-6 col-lg-3">
                <div class="card">
                <img class="img-fluid" src="../images/big/img1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">Artist @Html.DisplayFor(modelItem => item.InitiatorArtist.Name)</p>
                        <p class="card-text">Theme @Html.DisplayFor(modelItem => item.Theme)</p>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</div>

        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/styleSwitcher.js"></script>
	</body>


</html>