@page
@model LoginModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/LogInRegister/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/LogInRegister/css/style.css">
</head>
<body>
    <div class="main">
    <div class="col-md-12">
            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="~/LogInRegister/images/signin-image.jpg" alt="sing up image"></figure>
                            <a href="http://localhost:57678/Account/Register" class="signup-image-link">Create an account</a>
                        </div>


                        <div class="signin-form">
                            <h2 class="form-title">Sign In</h2>
@*                                                        <form id="account" method="post">
*@
                            <form id="account" method="post" class="register-form" id="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label"><i class="zmdi zmdi-email"></i></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="email" placeholder="Your Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Input.Password" class="form-label"><i class="zmdi zmdi-lock"></i></label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" id="your_pass" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="label-agree-term">
                    <input id="remember-me" class="agree-term" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="form-group form-button">
@*                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                                    *@                  
                      <button id="signin" class="form-submit" type="submit">Log in</button>

                </div>
                @*<div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
*@            </form></div>
</div></div>
        </section>
    </div>
@*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>
    <!-- JS -->
    <script src="~/LogInRegister/vendor/jquery/jquery.min.js"></script>
    <script src="~/LogInRegister/js/main.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
*@