@model InteractiveGallery.Core.ArtistAggregate.ArtistValueObject
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/UserArea/Views/Shared/MyLayout.cshtml";
}


<br><br>
                <div class="media align-items-center mb-4">
                    <img class="mr-3" src="~/images/user.png" width="80" height="80" alt="">
                    <div class="media-body">
                        <h3 class="mb-0">@Html.DisplayFor(model => model.Name)</h3>
                    </div>
                </div>

                <h4>Biography</h4>
                <p class="text-muted">@Html.DisplayFor(model => model.Biography)</p>
                <ul class="card-profile__info">
@*                     <li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <span>01793931609</span></li>
 *@                    <li><strong class="text-dark mr-4">Email</strong> <span>@ViewBag.user.Email</span></li>
                </ul>
            

<!-- row -->
@*<div class="container-fluid">
*@	            <div class="media align-items-center mb-4">
                    <div class="media-body">
                        <h3 class="mb-0">Galleries</h3>
                    </div>
                </div>
                @foreach (var gallery in Model.Galleries){
                    if(gallery.Artworks!=null){
                 <div class="col-md-6 col-lg-3">

                <div class="card">
                    <img class ="img-fluid" >
                    <div class="card-body">
					<h5 class="card-title"> @gallery.Name </h5>
					<p class="card-text">Theme: @gallery.Theme</p>
                    <h5><a asp-action="VisitGallery" asp-route-id="@gallery.Id">Visit Gallery</a></h5>
				</div>
			</div>
                           
                </div>}}