@model InteractiveGallery.Core.GalleryAggregate.GalleryValueObject
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
	Layout = "~/Areas/UserArea/Views/Shared/MyLayout.cshtml";
}



<div class="row">
<div class="col-md-6 col-lg-12">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4>
                <ul class="card-profile__info">
                    <li class="mb-1"> <strong class="text-dark mr-4">Artist</strong><span>@Html.DisplayFor(model => model.InitiatorArtist.Name)</span></li>
                    <li><strong class="text-dark mr-4">Theme</strong><span>@Html.DisplayFor(model => model.Theme)</span></li>
                </ul>
           
		</div>
	</div>
</div>
</div>
<br>

        <h4>   Artworks</h4>

    <br>
    <br>
 <div class="row"> 
            @foreach (var item in Model.Artworks)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        @*imaaaage sides aren;t rounded*@
                    <img src="~/ArtworkImages/@item.Image" asp-append-version="true" class="img-fluid">

                        <div class="card-body">
                                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>

                                <ul class="card-profile__info">
                                    <li class="mb-1"> <strong class="text-dark mr-4">Description</strong><span>@Html.DisplayFor(modelItem => item.Description)</span></li>
                                    <li><strong class="text-dark mr-4">Price</strong><span>@Html.DisplayFor(modelItem => item.Price)</span></li>
                                </ul>
                    <a href="@Url.Action("EditArtwork","Galleries",new { area = "UserArea" ,artworkId=item.Id})" type="button" class="btn mb-1 btn-flat btn-outline-primary">Edit</a>
                    <a href="@Url.Action("DeleteArtwork","Galleries",new { area = "UserArea" ,artworkId=item.Id})" type="button" class="btn mb-1 btn-flat btn-outline-primary">Delete</a>

                </div>             
                    </div>
                </div>

            }





    <div class="bootstrap-modal">

    <button id="addArtworkButton" data-toggle="modal" data-target="#artworkModal" onclick="showModal(@Model.Id)">Add Artwork</button>

    <!-- Modal -->
    <div class="modal fade" id="artworkModal" tabindex="-1" role="dialog" aria-labelledby="artworkModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="artworkModalLabel">Select Artworks to Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="artworkModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="submitArtworks" onclick="submitArtworks(@Model.Id)">Add Selected Artworks</button>
                </div>
            </div>
        </div>
    </div>
    </div>
					
        </div>

<script>
    
        function showModal(id) {
            console.log("ss");
            
        var aurl = '@Url.Content("~/UserArea/Galleries/details/")' + parseInt(id)+ "/AddArtwork";
        
  
            $.ajax({
            url: aurl,
                type: "GET",
                success: function (data) {
                $("#artworkModalBody").html(data);
                $('.modal').modal('show');
                }

            });
        }
    
</script>

<script>

    function submitArtworks(id) {
       // JSON
        var selectedArtworks = [];
        $(".artwork-checkbox:checked").each(function () {
            selectedArtworks.push($(this).val());
        });

        var intIds = selectedArtworks.map(a =>  parseInt(a));
        console.log(intIds);
        var aurl = '@Url.Content("~/UserArea/Galleries/details/")' + parseInt(id) + "/AddArtwork";
        console.log(selectedArtworks);

        $.ajax({
            url: aurl,
            contentType: "application/json",
            type: "POST",
            data: JSON.stringify(intIds),
            success: function (response) {
                console.log(response);
                // taost success
                // when ok clicked, hide modal
            },
            error: function(xhr, status, error) {
                // toast error
                // try to refresh and try again
                // hide modal on ok click
                // 
            }
        });
        
    }

</script>
